/.idea/
*.iml
*.ipr
*.iws
/.vscode/

/.gradle/
**/.gradle/
/build/
**/build/

/run*/
/run/
**/runs/
**/run/
*.log

/common/build/
/fabric/.gradle/
/fabric/build/
/forge/build/
/neoforge/build/
/neoforge/run/

.DS_Store
Thumbs.db